#personalityForm, #matches, .demographics-page {
  display: none;
}

h2 {
  position: relative;
  font-family: 'Chango', cursive;
  font-size: 30px;
}

 #header {
   height: 190px;
   width: 100%;
   background-image: url("../img/retro-header.png");
   background-position: center;
 }
 #footer {
   height: 190px;
   width: 100%;
   background-image: url("../img/retro-footer.png");
   background-position: center;
 }

 .main-image-container {
   height: 550px;
   opacity: 0.5;
   position: relative;
   background-position: 0px 0px;
   background-image: url("../img/80s-couple.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   text-align: center;
   color: #EEE;
   padding-top: 200px;
 }
  .main-image-container button {
    font-size: 15pt;
    margin-top: 60px;
    box-shadow: 0 0 20px #000;
  }
 .main-image-container h2 {
   z-index: 2;
   text-shadow: 0 0 10px #000;
   text-align: center;
   font-size: 38px;
   font-family: Lato, sans-serif;
   font-weight: 200;
 }
 .main-image-container strong {
   font-weight: 600;
   font-size: 45px;
 }
 .main-image-container span {
   line-height: 85.6px;
   text-transform: lowercase;
   font: 400 83px/1.3 'Arizonia', Helvetica, sans-serif;
 }
 #generalForm {
   padding: 60px 0;
 }
 .testimonial-1 {
   height: 300px;
   width: 100%;
   background-color: #F1D9FF;
   padding: 0 160px;
 }
 .testimonial-1 img:nth-child(1){
   float: left;
   display: inline-block;
 }
 .testimonial-1 img:nth-child(2){
   float: right;
   display: inline-block;
 }
 .btn-to-questionaire {
   height: 240px;
   width: 100%;
   background-image: url("../img/80s-wallpaper.png");
   padding: 20px 0;
 }
 .btn-to-questionaire #application-description {
   text-align: center;
   font-size: 20px;
   padding: 20px;
   border-radius: 20px;
   opacity: 0.8;
   width: 600px;
   height: 100%;
   margin: 0 auto;
   background-color: #FFF;
   border: 1px solid #000;
   box-shadow: 0 0 10px #000;
 }
 .btn-to-questionaire span {
   cursor: pointer;
   font-weight: 900;
 }
 .testimonial-2 {
   height: 300px;
   width: 100%;
   background-color: #DDFFF7;
   padding: 0 160px;
 }
 .testimonial-2 img:nth-child(1){
   float: right;
   display: inline-block;
   height: 292px;
 }
 .testimonial-2 img:nth-child(2){
   float: left;
   display: inline-block;
 }
 .demographics-page {
   background-image: url("../img/80s-wallpaper-lg.png");
   /* display: none; */
 }
 .demographics-wrapper, #personalityForm {
   margin: 0 auto;
   background-color: white;
   width: 1800px;
 }
 .about-you-container {
   margin-bottom: 30px;
   padding: 20px 0;
 }
 #generalForm h2 {
   text-align: center;
 }
 .demographics-wrapper input {
   margin: 10px 0;
   border-radius: 5px;
   width: 260px;
 }
 .demographics-wrapper select{
   margin: 10px 0;
   height: 30px;
   width: 260px;
   background-image: linear-gradient(#EEE, #BBB);
 }
 .about-you-container div:nth-child(4) {
   padding-left: 15px;
 }
 .about-you-container div:nth-child(5) {
   padding-left: 45px;
 }
 .about-you-container div:nth-child(6) {
   padding-left: 24px;
 }
 .about-you-container div:nth-child(7){
   padding-left: 50px;
 }
 .about-you-container div:nth-child(8){
   padding-left: 50px;
 }
 .about-you-container select {
   width: 260px;
 }
 .about-you-container .form-group, .about-you-container div:nth-child(6){
   margin: 0 0 0 680px;
 }
 .demographics-container div{
   margin: 0 0 0 600px;
 }
 .demographics-container div:nth-child(2){
   padding-left: 108px;
 }
 .demographics-container div:nth-child(3){
   padding-left: 30px;
 }
 .demographics-container div:nth-child(5){
   padding-left: 30px;
 }
 .demographics-container div:nth-child(6){
   padding-left: 36px;
 }
 #submitGeneralFormButton, #findMatchButton {
   display: block;
   color: #FFF;
   margin: 20px auto;
   background-color: #651ccc;
   border: none;
 }
 #submitGeneralFormButton:hover, #findMatchButton:hover {
   background-color: #651ccc;
 }
 .personality-container {
   background-image: url("../img/80s-wallpaper-lg.png");
 }
 #personalityForm {
   padding: 80px;
 }
 #personalityForm h2 {
   text-align: center;
   margin-bottom: 60px;
 }
 .answers {
   margin-bottom: 60px;
 }

 .questionnaire-page {
   /* display: none; */
 }

 /*--- MEDIA QUERIES ---*/
 @media only screen and (max-width: 1240px) {
   .testimonial-1, .testimonial-2 {
     height: 250px;
     padding-top: 20px;
   }
   .testimonial-1 img, .testimonial-2 img {
     width: 300px;
   }
   .testimonial-2 img:nth-child(1) {
     height: 200px;
   }
 }
 @media only screen and (max-width: 1990px) {
   .demographics-wrapper, #personalityForm {
     margin: 0 auto;
     background-color: white;
     width: 1400px;
   }
   .about-you-container .form-group, .about-you-container div:nth-child(6){
     margin: 0 0 0 480px;
   }
   .demographics-container div{
     margin: 0 0 0 399px;
   }
 }
 @media only screen and (max-width: 1600px) {
   .demographics-wrapper, #personalityForm {
     margin: 0 auto;
     background-color: white;
     width: 1000px;
   }
   .about-you-container .form-group, .about-you-container div:nth-child(6){
     margin: 0 0 0 280px;
   }
   .demographics-container div{
     margin: 0 0 0 199px;
   }
 }
 @media only screen and (max-width: 1190px) {
   .demographics-wrapper, #personalityForm {
     margin: 0 auto;
     background-color: white;
     width: 600px;
   }
   .about-you-container .form-group, .about-you-container div:nth-child(6){
     margin: 0 0 0 80px;
   }
   .demographics-container div{
     margin: 0 0 0 9px;
   }
 }
 @media only screen and (max-width: 800px) {
   .demographics-wrapper, #personalityForm {
     margin: 0 auto;
     background-color: white;
     width: 200px;
   }
 }
